.kn_contact_us {
	.gform_title {
		@include font-a;
	}
	.gform_fields {
		grid-column-gap: 12px!important;
		grid-row-gap: 12px!important;
	}
	input, select, textarea {
		background-color: #ecebeb;
		border: none;
		font-size: 16px!important;
		color: #3B3733;
		font-family: AvenirNext;
		font-weight: 500;
		&::placeholder {
			color: #3B3733;
			font-family: AvenirNext;
			font-weight: 500;
		}
	}
	input, select {
		height: 40px;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
	}
	select {
		background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6cmdiYSgyNTUsMjU1LDI1NSwwKTt9LmNscy0ye2ZpbGw6IzVCNTg1NTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
		background-color: #ecebeb;
		background-position: center right 5px;
		cursor: pointer
	}
	textarea {
		height: 130px!important;
		padding-bottom: 0!important;
	}
	.gfield_description {
		padding-top: 0!important;
		margin-top: -5px;
		font-size: 12px!important;
		line-height: 1!important;
	}
	.gform_footer {
		padding: 0!important;
		margin-top: -5px!important;
		button.gform_button {
			margin-left: auto!important;
			margin-right: 0!important;
			background-color: #b36c26;
			border: none;
			font-family: AvenirNext;
			font-weight: 600;
			color: #fff;
			font-size: 15px;
			text-transform: uppercase;
			border-radius: 8px;
			&:after {
				display: none;
			}
			&:hover {
				padding: 0.3em 1em;
			}

		}
	}
	.et_pb_column_1_2 {
		img {
			aspect-ratio: 800 / 453;
			object-fit: cover;
		}
	}
}


.bdo_text {
	font-family: AvenirNext;
	font-weight: 400;
}

.bdo {
	a {
		font-weight: 600;
		color: #000;
		&:hover {
			font-weight: 700;
			color: #B26C26;
		}
	}
}

/* Awards */

.awards_hero {
	display: flex;
	@include tab-max {
		flex-direction: column;
	}
	.awards_hero_left {
		padding: $space-b;
		background-color: #3B3733;
		color: #fff;
		@include limbo-min {
			width: 50%;
		}
		h1 {
			color: #fff;
			font-weight: 600;
			font-size: 25px;
		}
		p {
			font-weight: 400;
			font-size: 16px;
		}
	}
	.awards_hero_right {
		@include limbo-min {
			width: 50%;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}
.kn_awards_page {
	display: flex;
	padding: $space-b;
	flex-wrap: wrap;
	* {
		font-family: 'AvenirNext';
	}
	.year {
		.awards_inner {
			display: flex;
			height: calc(100% - 53px);
		}
		.award {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			padding:  0 $space-a;
			margin: $space-a auto;
			border-right: 2px solid #D7D7D7;
			@include limbo-only {
				width: 50%;
			}
			&.wide {
				img {
					max-width: 300px;
					width: 100%;
					max-height: 140px;
					object-fit: contain;
				}
			}
			&.square {
				img {
					max-width: 140px;
					aspect-ratio: 1/1;
					width: 100%;
				}
			}
		}
		.award_year {
			background-color: #D7D7D7;
			font-size: 25px;
			padding: 14px;
			font-weight: 600;
		}
		.award_description {
			font-size: 20px;
			line-height: 20px;
			padding-top: 18px;
			text-align: center;
			margin-top: 0;
			margin-bottom: auto;
		}
		.award_link {
			color: #5B5855;
			font-size: 16px;
			font-weight: 700;
			font-style: italic;
			margin-top: 12px;
		}
		&.year2023 {
			width: 50%;
			.award {
				width: 50%
			}
			@include limbo-max {
				width: 100%;
				.award:last-child {
					border: none;
				}
			}
		}
		&.year2022 {
			width: 25%;
			@include limbo-max {
				width: 50%;
				.award {
					width: 100%;
				}
			}
		}
		&.year2021:nth-child(3) {
			width: 25%;
			.award {
				border: none;
			}
			@include limbo-max {
				width: 50%;
				.award {
					width: 100%;
					border: none;
				}
			}
		}
		&.year2021:nth-child(4) {
			width: 50%;
			@include limbo-max {
				width: 100%;
				.award {
					width: 100%;
					&:last-child {
						border: none;
					}
				}
			}
		}
		&.year2020, &.year2019, &.year2018, &.year2017, &.year2016 {
			width: 25%;
			@include limbo-max {
				width: 50%;
				.award {
					width: 100%;
				}
			}
		}
	}
	.year2016, .year2019 {
		.award {
			@include desk-min {
				border: none;
			}
		}
	}
	@include limbo-max {
		.year2016, .year2017, .year2019 {
			.award {
				border: none
			}
		}
		.year2016 {
			margin-left: auto;
			margin-right: auto;
		}
	}
	@include mob-only {
		.awards_inner {
			flex-wrap: wrap;
		}
		.year {
			width: 100%!important;
		}
		.award {
			width: 100%!important;
			border:none!important;
		}
	}
}


/* Blog */

.posts_filters {
	display: flex;
	margin-bottom: 32px;
	@include tab-max {
		flex-direction: column;
	}
	.posts_filters_panel {
		order: 2;
	}
	.filter_panel_e {
		padding: 10px;
		background-color: #ced1d2;
		margin-right: 10px;
		display: inline-flex;
		margin-bottom: 10px;
		.filter_panel_e_delete {
			cursor: pointer;
			margin-left: 8px;
			font-size: 10px;
			margin-top: 2px;
			margin-bottom: -2px;
		}
	}
}
.posts_filters_selection {
	display: flex;
	@include mob-only {
		flex-direction: column;
	}
	.posts_filter {
		border: 2px solid;
		margin-right: 20px;
		height: fit-content;
		@include tab-max {
			margin-bottom: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
		@include tab-only {
			width: calc(50% - 5px);
		}
		@include mob-only {
			width: 100%;
		}
		.posts_filter_top  {
			padding: 10px;
			background-image: url(assets/icons/chevron-down.svg);
			background-position: center right 10px;
			background-repeat: no-repeat;
			padding-right: 40px;
			transition: .3s all;
			@include tab-min {
				min-width: 270px;
			}
			&.open {
				border-bottom: 2px solid;
				background-image: url(assets/icons/chevron-up.svg);

				margin-bottom: -2px; // Remove to show bug
			}
		}
		.posts_filter_bottom {
			padding: 15px;
		}
		&.disabled {
			opacity: .6;
			border-color: rgba(0,0,0,.6);
			cursor: default;
			pointer-events: none;
			.posts_filter_bottom {
				display: none!important;
			}
		}
		&:not(.disabled) {
			cursor: pointer;
		}
	}
}

/* Filter Loader */

.filter_loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 99999999;

	&.disabled {
		display: none;
	}

	.loader {
		width: 48px;
		height: 48px;
		border: 5px solid #FFF;
		border-bottom-color: #f7d21e;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		animation: rotation 1s linear infinite;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}

		@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

/* Search Results */

.search-results {
	body {
		padding-top: 0!important;
	}
}
