.kn_contact_us {
	.gform_title {
		@include font-a;
	}
	.gform_fields {
		grid-column-gap: 12px!important;
		grid-row-gap: 12px!important;
	}
	input, select, textarea {
		background-color: #ecebeb;
		border: none;
		font-size: 16px!important;
		color: #3B3733;
		font-family: AvenirNext;
		font-weight: 500;
		&::placeholder {
			color: #3B3733;
			font-family: AvenirNext;
			font-weight: 500;
		}
	}
	input, select {
		height: 40px;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
	}
	select {
		background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6cmdiYSgyNTUsMjU1LDI1NSwwKTt9LmNscy0ye2ZpbGw6IzVCNTg1NTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
		background-color: #ecebeb;
		background-position: center right 5px;
		cursor: pointer
	}
	textarea {
		height: 130px!important;
		padding-bottom: 0!important;
	}
	.gfield_description {
		padding-top: 0!important;
		margin-top: -5px;
		font-size: 12px!important;
		line-height: 1!important;
	}
	.gform_footer {
		padding: 0!important;
		margin-top: -5px!important;
		button.gform_button {
			margin-left: auto!important;
			margin-right: 0!important;
			background-color: #b36c26;
			border: none;
			font-family: AvenirNext;
			font-weight: 600;
			color: #fff;
			font-size: 15px;
			text-transform: uppercase;
			border-radius: 8px;
			&:after {
				display: none;
			}
			&:hover {
				padding: 0.3em 1em;
			}

		}
	}
	.et_pb_column_1_2 {
		img {
			aspect-ratio: 800 / 453;
			object-fit: cover;
		}
	}
}


.bdo_text {
	font-family: AvenirNext;
	font-weight: 400;
}

.bdo {
	a {
		font-weight: 600;
		color: #000;
		&:hover {
			font-weight: 700;
			color: #B26C26;
		}
	}
}

/* Awards */

.awards_hero {
	display: flex;
	@include tab-max {
		flex-direction: column;
	}
	.awards_hero_left {
		padding: $space-b;
		background-color: #3B3733;
		color: #fff;
		@include limbo-min {
			width: 50%;
		}
		h1 {
			color: #fff;
			font-weight: 600;
			font-size: 25px;
		}
		p {
			font-weight: 400;
			font-size: 16px;
		}
	}
	.awards_hero_right {
		@include limbo-min {
			width: 50%;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}
.kn_awards_page {
	display: flex;
	padding: $space-b;
	flex-wrap: wrap;
	* {
		font-family: 'AvenirNext';
	}
	.year {
		.awards_inner {
			display: flex;
			height: calc(100% - 53px);
		}
		.award {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			padding:  0 $space-a;
			margin: $space-a auto;
			border-right: 2px solid #D7D7D7;
			@include limbo-only {
				width: 50%;
			}
			&.wide {
				img {
					max-width: 300px;
					width: 100%;
					max-height: 140px;
					object-fit: contain;
				}
			}
			&.square {
				img {
					max-width: 140px;
					aspect-ratio: 1/1;
					width: 100%;
				}
			}
		}
		.award_year {
			background-color: #D7D7D7;
			font-size: 25px;
			padding: 14px;
			font-weight: 600;
		}
		.award_description {
			font-size: 20px;
			line-height: 20px;
			padding-top: 18px;
			text-align: center;
			margin-top: 0;
			margin-bottom: auto;
		}
		.award_link {
			color: #5B5855;
			font-size: 16px;
			font-weight: 700;
			font-style: italic;
			margin-top: 12px;
		}
		&.year2023 {
			width: 50%;
			.award {
				width: 50%
			}
			@include limbo-max {
				width: 100%;
				.award:last-child {
					border: none;
				}
			}
		}
		&.year2022 {
			width: 25%;
			@include limbo-max {
				width: 50%;
				.award {
					width: 100%;
				}
			}
		}
		&.year2021:nth-child(3) {
			width: 25%;
			.award {
				border: none;
			}
			@include limbo-max {
				width: 50%;
				.award {
					width: 100%;
					border: none;
				}
			}
		}
		&.year2021:nth-child(4) {
			width: 50%;
			@include limbo-max {
				width: 100%;
				.award {
					width: 100%;
					&:last-child {
						border: none;
					}
				}
			}
		}
		&.year2020, &.year2019, &.year2018, &.year2017, &.year2016 {
			width: 25%;
			@include limbo-max {
				width: 50%;
				.award {
					width: 100%;
				}
			}
		}
	}
	.year2016, .year2019 {
		.award {
			@include desk-min {
				border: none;
			}
		}
	}
	@include limbo-max {
		.year2016, .year2017, .year2019 {
			.award {
				border: none
			}
		}
		.year2016 {
			margin-left: auto;
			margin-right: auto;
		}
	}
	@include mob-only {
		.awards_inner {
			flex-wrap: wrap;
		}
		.year {
			width: 100%!important;
		}
		.award {
			width: 100%!important;
			border:none!important;
		}
	}
}


/* Single Post */

.single-post.post-template-single-basic {
	table {
		width: 100%;
	}
	#main-content {
		@media (min-width: 981px) {
			padding-inline: 56px;

		}
		background: linear-gradient(
			to right,
			#EEE9D7 0%,
			#EEE9D7 50%,
			#fff 50%,
			#fff 100%

		);
		* {
			font-family: AvenirNext;
		}
		.container {
			background-color: #fff;
			padding: 0!important;
			max-width: 1488px;
			width: 100%;
			display: flex;
			@media (max-width: 980px) {
				flex-direction: column;
				width: 100%;
			}
			&::before {
				display: none;
			}
			.empty {
				@media (min-width: 981px) {
					width: 30%;
					background-color: #EEE9D7;
				}
				@media (max-width: 980px) {
					display: none;
				}
			}
			#left-area {
				padding: 36px;
				@media (max-width: 980px){
					width: 100%;
					border-bottom: 1px solid #B36C26;
					padding-bottom: 36px;
					padding-inline: 56px;
				}
				@media (min-width: 981px) {
					border-right: 1px solid #B36C26;
					width: 40%;

				}
				.post_btn_wrap {
					width: 100%;
					text-align: center;
				}
				.post_pdf {
					background-color: #B36C26;
					display: inline-flex;
					padding: 10px 14px;
					color: #fff!important;
					border-radius: 4px;
					margin-top: 30px;
					text-transform: uppercase;
					&:hover {
						font-weight: 500;
					}
				}
			}
			#sidebar {
				padding: 36px!important;
				.widget_block {
					margin-bottom: 0;
				}
				.sidebar_rp_heading {
					margin-top: 30px;
				}
				h3 {
					color: #B36C26;
					margin-bottom: 0;
					font-size: 25px;
					line-height: 28px;
					font-weight: 600;
				}
				a {
					font-weight: 500;
					color: #000;
					display: block;
					font-size: 16px;
					line-height: 22px;
					&:not(:last-child) {
						margin-bottom: 12px;
					}
					&:hover {
						color: #B36C26;
						font-weight: 700;
					}
				}
				@media (max-width: 980px) {
					width: 100%;
					padding-top: 36px!important;
					padding-inline: 56px!important;
				}
				@media (min-width: 981px) {
					width: 30%;
				}
				.sidebar_button a {
					background-color: #B36C26;
					display: inline-flex;
					padding: 10px 14px;
					color: #fff!important;
					border-radius: 4px;
					margin-top: 30px;
					text-transform: uppercase;
					&:hover {
						font-weight: 500;
					}
				}
			}
		}
	}
	h1 {
		font-size: 25px;
		font-weight: 600;
		line-height: 28px;
	}
	.ks_sp_author {
		font-style: italic;
		display: inline-block;
		&:not(:last-of-type) {
			&:after {
				margin-left: 3px;
				content: "and";
				display: inline-block;
			};
		}
		a {
			color: #000;
			&:hover {
				color: #B36C26;
				font-weight: 700;
			}

		}
	}
	.kn_sp_content {
		font-size: 16px;
		margin-top: 25px;
		a {
			color: #000;
			font-weight: 500;
			&:hover {
				color: #b36c26;
				font-weight: 700;
			}
		}
		p {
			line-height: 22px;
			padding-bottom: 12px;
		}
		li {
			line-height: 22px;
		}
	}
}

/* Blog */

.blog {
	overflow: hidden;
	.archive-hero__description {
		a {
			color: #000;
			font-weight: 700;
			&:hover {
				color: #b36c26;

			}
		}
	}
	.posts_grid {
		position: relative;
		@include desk-min {
			padding-top: 100px;
		}
		@include limbo-max {
			padding-top: 0;
		}
		.load-more-filter  {
			background-color: #3B3733;
		font-size: 13px;
		color: #fff;
		padding: 10px 12px !important;
		text-transform: uppercase;
		line-height: 32px;
		border: none !important;
		border-radius: 3px;
		transition: .3s all;
		&:hover {
			background-color: #D7D7D7;
    		color: #3B3733;
		}
		}
		.post-link {
			color: #000;
			&:hover {
				color: #B26C26;
				font-weight: 700;
			}
		}
	}
	.archive-hero {
		background-color: #ced1d2;
		color: #000;
		.archive-hero__left {
			img {
				max-width: 350px;
			}
		}
	}
}

.posts_filters {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 32px;
	width: 100%;
	max-width: 1808px;
	.posts_filter:first-child {
		.child-cat {
			padding-left: 0!important;
		}
	}
	@include desk-min {
	position: absolute;
	top: 0;
	}
	@include limbo-max {
		flex-direction: column;
		margin-bottom: 64px;
	}
	.arrows {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		svg {
			width: 30px;
			height: 30px;
			z-index: 9999;
			position: absolute;
			top: 50%;
			left: -30px;
			transform: translateY(-50%);
			cursor: pointer;
			& + svg {
				right: -30px;
				left: auto;
			}
		}

	}
	.filter-wrapper {
		position: relative;
		width: calc(100% - 812px);
		order: 3;
		overflow: auto;
		padding-bottom: 8px;
		&::-webkit-scrollbar {
			background-color: #fff;
			width: 16px;

		}

		/* background of the scrollbar except button or resizer */
		&::-webkit-scrollbar-track {
			background-color: #fff;
			transition: .3s all;
		}

		/* scrollbar itself */
		&::-webkit-scrollbar-thumb {
			background-color: #babac0;
			border-radius: 16px;
			border: 4px solid #fff;
		}
		&::-webkit-scrollbar-thumb {
			background-color: rgba(0,0,0,0);
			border-radius:16px;
			border:5px solid #fff;
		}

		&:hover::-webkit-scrollbar-thumb {
		  background-color: #a0a0a5;
		}

		::-webkit-scrollbar-thumb:hover {
			background-color:#a0a0a5;
			border:4px solid #f4f4f4
		}
		/* Buttons */
		&::-webkit-scrollbar-button:single-button {
			display: block;
			height: 60px;
			width: 30px;
			background-color: rgba(0, 0, 0, 0.6);
			background-repeat: no-repeat;
			background-position: center;
			background-size: auto calc(100% - 2px);
			background-color: #fff;
		}
		&:hover::-webkit-scrollbar-button:single-button {
			background-color: rgba(0, 0, 0, 0.6);
		}
		/* Up */
		&::-webkit-scrollbar-button:single-button:horizontal:decrement {
			background-image: url(assets/icons/chevron-left.svg);

		}

		&::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
			border-color: transparent transparent #777777 transparent;
			background-color: rgba(0, 0, 0, 0.4);
		}
		/* Down */
		&::-webkit-scrollbar-button:single-button:horizontal:increment {
			background-image: url(assets/icons/chevron-right.svg);
		}

		&::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
			background-color: rgba(0, 0, 0, 0.4);
		}
		@include limbo-max {
			width: 100%;
			order: 1;
		}
	}

	.posts_filters_panel {
		width: 100%;
		border-radius: 10px;
		background-color: #fff;
		height: fit-content;
		width: max-content;
		@include limbo-max {
			flex-direction: column;
		}
	}
	.filter_panel_e {
		padding: 5px 10px;
		border: 2px solid #b3b3b3;
		border-radius: 10px;
		color: #b3b3b3;
		margin-right: 10px;
		margin-left: 10px;
		display: inline-flex;
		/* margin-bottom: 10px; */
		font-weight: 500;
		background-color: #fff;
		position: relative;
		padding-right: 25px;
		@include limbo-max {
			margin-left: 0;
		}
		.filter_panel_e_delete {
			cursor: pointer;
			margin-left: 8px;
			font-size: 10px;
			margin-top: 2px;
			margin-bottom: -2px;
			font-weight: 700;
			position: absolute;
			right: 10px;
			top: 0;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.blog_reset {
		color: #b3b3b3;
		margin-top: 8px;
		margin-right: 40px;
		font-weight: 500;
		width: fit-content;
		flex-shrink: 0;
		order: 2;
		@include limbo-max {
			position: relative;
			margin-bottom: 16px;
		}

		@include mob-only {
			width: 100%;
		}
	}
}
.posts_filters_selection {
	display: flex;
	@include limbo-min {
		width: 580px;
	}
	@include tab-only {
		width: 500px;
	}

	@include mob-only {
		flex-direction: column;
		width: 100%;
	}
	.posts_filter {
		margin-right: 20px;
		height: fit-content;
		background-color: #fff;
		@include limbo-max {
			margin-bottom: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
		@include tab-only {
			width: calc(50% - 5px);
		}
		@include mob-only {
			width: 100%;
		}
		.parent-cat {
			display: flex;
		}
		.posts_filter_top  {
			padding: 10px;
			background-image: url(assets/icons/chevron-down.svg);
			background-position: center right 10px;
			background-repeat: no-repeat;
			padding-right: 40px;
			transition: .3s all;
			border: 2px solid;
			z-index: 2;
			position: relative;
			@include limbo-min {
				min-width: 270px;
			}
			&.open {
				border-bottom: 2px solid;
				background-image: url(assets/icons/chevron-up.svg);

				margin-bottom: -2px; // Remove to show bug
			}
		}
		.posts_filter_bottom {
			padding: 10px 15px 15px;
			border: 2px solid #b3b3b3;
			border-top: none;

			label {
				position: relative;
				cursor: pointer;
				line-height: 1.1;
				margin-top: 10px;
				&:before {
					content: "";
					display: block;
					width: 17px;
					height: 17px;
					position: absolute;
					left: -18px;
					top: -2px;
					background-image: url(assets/icons/circle.svg);
					background-size: 15px;
					background-position: bottom left;
					background-repeat: no-repeat;

				}
			}
			.child-cat {
				padding-left: 14px;
				font-size: 14px;

				label {
					&:before {
						top: -1px;
					}
				}
			}
			input {
				opacity: 0;
				&:checked + label {
					&::before {
						background-image: url(assets/icons/check-circle.svg);

					}
				}
			}
		}
		&.disabled {
			opacity: .6;
			border-color: rgba(0,0,0,.6);
			cursor: default;
			pointer-events: none;
			.posts_filter_bottom {
				display: none!important;
			}
		}
		&:not(.disabled) {
			cursor: pointer;
		}
	}
}

.lb_trigger {
	cursor: pointer;
}

.ks_lightbox {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	display: none;
	.et_pb_row {
		padding-top: 56px;
	}
	@include tab-max {
		.et_pb_row {
			width: 90%;
		}
	}
}

.no_overflow {
	overflow: hidden;
}

.lb_close {
	cursor: pointer;
	position: absolute;
	background-color: #B26C26;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	color: #fff;
	transition: .3s ease-in-out;
	z-index: 100000;
	@include limbo-min {
		top: 25px;
		right: 25px;
		width: 50px;
		height: 50px;
		&:hover {
			width: 55px;
			height: 55px;
			top: 22.5px;
			right: 22.5px;
		}
	}
	@include tab-max {
		top: 15px;
		right: 15px;
		width: 45px;
		height: 30px;
	}
}

/* Filter Loader */

.filter_loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 99999999;

	&.disabled {
		display: none;
	}

	.loader {
		width: 48px;
		height: 48px;
		border: 5px solid #FFF;
		border-bottom-color: #f7d21e;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		animation: rotation 1s linear infinite;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}

		@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

/* Search Results */

.search-results {
	body {
		padding-top: 0!important;
	}
}


/* Upload */

.upload_container {
	background: linear-gradient(
			to right,
			#EEE9D7 0%,
			#EEE9D7 50%,
			#fff 50%,
			#fff 100%

		);
	* {
		font-family: AvenirNext;
	}
	.upload_container_inner {
		background-color: #fff;
		padding: 36px;
		@include desk-min {
			width: 90%;
		max-width: 780px;
		}
		margin-inline: auto;
		.register_section:not(:last-of-type) {
			margin-bottom: 13px;
		}
		p {
			padding-bottom: 12px;
			font-size: 16px;
			line-height: 22px;
		}
		a {
			font-weight: 700;
			color: #000;
			&:hover {
				color: #B26C26;
			}
		}
		h2 {
			font-size: 25px;
			font-weight: 600;
			padding-bottom: 17px;
		}
		.embed_row {
			display: flex;
			justify-content: space-between;
			align-items: end;
			> div {
				width: 49%;
			}
			.right {
				padding-bottom: 135px;
				a {
					font-weight: 500;
				}
				p {
					font-size: 14px;
					line-height: 20px;
					max-width: 330px;
				}
			}
		}
	}
}


/* External Link Popup */

.menu-item-popup-notice {
	background-color: rgba(45, 42, 38, .6);
	z-index: 99999;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.kn_inner_title {
		color: var(--color-2);
	}
	.menu-item-popup-notice__icon {
		margin-bottom: 10px;
	}
	.menu-item-popup-notice__close {
		align-self: flex-end;
		margin-top: -30px;
		margin-right: -20px;
		cursor: pointer;
	}
	.menu-item-popup-notice__inner {
		background-color: #fff;
		padding: 56px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		max-width: 370px;
		width: 90%;
	}
	.menu-item-popup-notice__description {
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
	}
	.menu-item-popup-notice__buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
	.menu-item-popup-notice__stay {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 13px;
		color: #3B3733;
		border: 2px solid #3B3733!important;
		padding: 10px 20px;
		border: none;
		border-radius: 10px;
		margin: 10px 0 10px 10px;
		min-width: 110px;
	}
	.menu-item-popup-notice__continue {
		margin: 10px 0 10px 0;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 13px;
		color: #fff;
		background-color: #3B3733;
		padding: 10px 20px;
		border: none;
		min-width: 110px;
		border-radius: 10px;
	}
}
