.single-team,
.single-services, .single-industry {
	.container {
		max-width: 1920px;
		width: 100%;
		margin: 0 auto;
		@include desk-min {
			padding: 0 56px;
		}
	}

}

.posts_grid {
	max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 56px;
	.load_more_container {
		margin: auto;
		display: block;
		text-align: center;
		padding-bottom: 56px;
	}
	.author-posts-load-more {
		background-color: #3B3733;
		font-size: 13px;
		color: #fff;
		padding: 10px 12px!important;
		text-transform: uppercase;
		line-height: 32px;
		border: none!important;
		border-radius: 3px;
		&:hover {
			background-color: #D7D7D7;
			color: #3B3733;
		}
		&::after {
			display: none;
		}
	}
}
.posts_grid_inner {
	display: flex;
	flex-wrap: wrap;
	.posts_grid_item {
		background-color: #fff;
		@include limbo-min {
			width: calc(25% - 13.5px);
			&:not(:nth-child(4n + 4)) {
				margin-right: 18px;
			}
		}
		@include tab-only {
			width: 49%;
			&:nth-child(odd) {
				margin-right: 2%;
			}
		}
		@include mob-only {
			width: 100%;
		}
		margin-bottom: 30px;
		border: 1px solid #333;
		.pg-image {
			aspect-ratio: 432 / 220;
		}
		img {
			height: 100%;
    		width: 100%;
			object-fit: cover;
		}
		.heading-secondary {
			padding: 25px 20px 0!important;
			font-size: 16px;
			line-height: 20px;
			font-weight: 600;
			margin-bottom: 4px;
			color: #000;
		}
		.sp_meta {
			padding: 0 20px 10px 20px;
			a {
				color: #000;
				&:hover {
					color: #B26C26;
					font-weight: 700;
				}
			}
		}
		.cats {
			padding: 0 20px 5px;
			a {
				color: #000;
				margin-right: 8px;
				&:hover {
					color: #B26C26;
					font-weight: 700;
				}
			}
		}
		.entry-content {
			padding: 0 20px 20px;
    		line-height: 22px;
			font-size: 16px;
			font-weight: 400;
		}
	}
}
